
*{
margin:0px;
padding: 0px;  
}
.App {
  text-align: center;
  width: 100%;
}
.rowbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
input:focus{
 border: none;
}
.row{
  display: flex;
  align-items: center;
}
.prod img{
  width: 65px;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
