
*{
margin:0px;
padding: 0px;  
}
.App {
  text-align: center;
  width: 100%;
}
.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input:focus{
 border: none;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
